### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

### VisualStudioCode Patch ###

# Ignore all local history of files
.history
.ionide

### Non VisualStudioCode ###

# Dependency directories
node_modules/

# Misc
inspo/
initial.md
vsc-extension-quickstart.md

# Images
.DS_Store
